<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<title>GDC Crawler</title>
<h1>Crawler GDC</h1>
<p>{{ keys }}
</p>
{% for offer in offers %}
<h2>
  {{ offer.title }}
</h2>
<table border="1px solid black">
    <tr>
        <th>Price</th>
        {% if offer.price_by_square_meter %}
        <th>Square meter</th>
        <th>Price by square meter</th>
        {% endif %}
        <th>Localization</th>
        <th>accurate</th>
    </tr>
    <tr>
        <td>{{ offer.price }}</td>
        {% if offer.price_by_square_meter %}
        <td>{{ offer.square_meter }}</td>
        <td>{{ offer.price_by_square_meter|int }}</td>
        {% endif %}
        <td>{{ offer.city }} - {{ offer.zip }}</td>
        <td>{{ offer.accurateLocation }}</td>
    </tr>
</table>
<span>{{ offer.description }}</span>
{% endfor %}
